body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: black;
}

.ant-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-card-meta-title {
  font-weight: bold;
}

.ant-tag {
  margin-top: 10px;
}
